[DEFAULT]
# accessKeyId
ak = LTAI4G4Nm8hs3pwGYGJXjcN
# accessSecret
secret = UF5FuMucFbw2cgf2fogSRKk2YAl2Y
# RegionId
region_id = cn-hangzhou
DownloadDays = 30

[m.example.com]
# Inherit default configuration

[www.example.com]
# Inherit default configuration